@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Sedan:ital@0;1&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scope+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font--banner--semi: "Barlow";
  --font--banner--bool: "Roboto";
  --font--parrafo: "Space Mono";
  --font--header: "Sedan";
  --font--testimoni: "Modern Antiqua";
  --font--about: "BioRhyme";
  --font--cont: "Scope One";
  --font--sub--title: "Arsenal SC";
  --font--sub--title--2: "Roboto Condensed";
  --font--sub--title--3: "Kanit";
  --bg--botones: #d30000;
  --color--sub: #d30000;
}




body {
    padding: 20px; /* Espaciado general para el cuerpo */
}

/* Estilo adicional para mejorar la apariencia en pantallas pequeñas */
@media (max-width: 576px) {
    .form-label {
        font-size: 14px; /* Reducir tamaño de fuente en pantallas pequeñas */
    }

    .form-control {
        font-size: 14px; /* Reducir tamaño de fuente en campos de entrada */
    }

    .form-text {
        font-size: 12px; /* Reducir tamaño de fuente en texto de ayuda */
    }
}
