@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Sedan:ital@0;1&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

:root{
    --font--banner--semi: "Heebo";
    --font--banner--bool: url("/fonts/segoeuithibd.ttf");
    --font--parrafo: "Space Mono";
    --font--header: "Sedan";
    --font--testimoni: "Modern Antiqua";
    --font--about: "BioRhyme";
    --font--cont: "Scope One";
    --color--label: #989898;
    --color--activo--nav: #df405f;
    --color--inactivo--nav: #b62a46;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor_general{
    width: 100%;
    height: 100vh;
    padding: 4rem;
}

.contenedor_general_a {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    box-shadow: 0px 4px 15px rgb(94, 94, 94);
}

.banner_registro {
    width: 40%;
    height: 100%;
    background-color: #c1f6fd;
    border-radius: 2rem 0rem 0rem 2rem;
}

.titulo h2{
    font-size: 2.5rem;
    font-family: var(--font--banner--semi);
    font-weight: 700;
    margin-bottom: 2rem;
    position: relative;
}

.titulo h2::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: .28rem;
    width: 15%;
    height: 4px;
    background: var(--color--activo--nav);
}

.navegador{
    width: 60%;
    height: auto;
    gap: 1rem;
    margin-bottom: 2rem;
}

.nav_datos{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color--inactivo--nav);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_datos.active{
    background-color: var(--color--activo--nav);
}

.nav_datos p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: var(--font--banner--semi);
    font-weight: 600;
    font-size: 1.2rem;
}

.contenedor_de_datos {
    width: 60%;
    height: 100%;
    background-color: #F8F8F8;
    border-radius: 0rem 2rem 2rem 0rem;
}

.contenedor_datos_natural{
    width: 60%;
    height: 50%;
}

.contenedor_datos_natural form{
    width: 100%;
}

.espacioT{
    width: 100%;
    height: auto;
    margin: 0;
}

.espacioT input{
    height: 37px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 4rem;
    border: 1px solid #ccc;
    background: none;
    color: #4b4b4b;
    font-size: .9rem;
}

.espacioT input:focus{
    outline: none;
}

.espacioT input::placeholder{
    font-size: .8rem;
    color: #888888;
}

.espacioT select{
    height: 35px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 4rem;
    font-size: .8rem;
    color: #888888;
    background: none;
}

.espacioT select:focus{
    outline: none;
}

.botones{
    width: 100%;
    margin-top: 1rem;
    text-align: end;
}

.botones button{
    margin-right: 1rem;
}

.contenedor_datos_juridica {
    display: none;
}