@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Sedan:ital@0;1&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scope+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font--banner--semi: "Barlow";
    --font--banner--bool: "Roboto";
    --font--parrafo: "Space Mono";
    --font--header: "Sedan";
    --font--testimoni: "Modern Antiqua";
    --font--about: "BioRhyme";
    --font--cont: "Scope One";
    --font--header--v2: "Poppins";
    --bg--botones: #d30000;
    --color--sub: #d30000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner{
    width: 100%;
    height: 40vh;
    background: rgb(238, 0, 0);
    background: linear-gradient(100deg, rgba(238, 0, 0, 1) 0%, rgb(161, 1, 1) 100%);
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.banner h2{
    font-family: var(--font--header--v2);
    font-weight: 600;
    font-size: 2rem;
    color: #fff;
}

.contenedor_info_banner{
    width: 40%;
    display: flex;
    align-items: center;
}

.contenedor_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.contenedor_info h3{
    font-family: var(--font--header--v2);
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.contenedor_info p{
    width: 80%;
    color: #ffff;
    font-family: var(--font--banner--semi);
    font-weight: 500;
}

.contenedor_info a{
    width: 150px;
    height: 40px;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: var(--font--banner--bool);
    font-weight: 500;
    margin: 0;
    padding: 0;
    border-radius: .5rem;
}

.contenedor_info_banner img{
    width: 32%;
    height: 69%;
}


/* COMO COMPRAR */
.como{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_info_como{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 6rem;
}

.contenedor_info_como img{
    width: 50%;
    height: 50%;
}

.como_info h3{
    font-family: var(--font--banner--bool);
    font-size: 2rem;
    font-weight: 600;
    color: #d30000;
}

.como_info p{
    width: 90%;
    font-family: var(--font--banner--semi);
    font-weight: 600;
    font-size: 1rem;
    color: #3d3d3dcc;
    text-align: justify;
}

/* IDENTIFICAR */
.identifica{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #eeeeee;
    padding-top: 1rem;
}

.identifica h2{
    font-family: var(--font--banner--bool);
    font-weight: 600;
    color: #d30000;
    font-size: 1.9rem;
    margin-bottom: 2rem;
}

.tabs_info{
    width: 45%;
}

.navegador_tabs{
    margin-bottom: 2rem;
}

.navegador_tabs li a{
    font-family: var(--font--banner--semi);
    font-size: 1.3rem;
    color: #000;
}

.nav-underline .nav-link.active{
    border-bottom-color: #d30000;
}

.nav-underline .nav-link:hover{
    color: #d30000;
}

.contenedor_indo_lista{
    width: 120%;
    margin-left: 2rem;
}

.contenedor_info_subasta,
.contenedor_info_compraya,
.contenedor_info_propuesta{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor_subasta_tab{
    width: 100%;
    height: 350px;
}

.contenedor_info_subasta,
.contenedor_info_compraya,
.contenedor_info_propuesta{
    position: relative;
    width: 100%;
    height: 100%;
}

.contenedor_info_subasta .contenedor_info,
.contenedor_info_compraya .contenedor_info,
.contenedor_info_propuesta .contenedor_info{
    width: 60%;
    height: 100%;
    background: #d30000;
    padding-left: 2rem;
    padding-right: 5rem;
    border-radius: 1rem;
    color: #fff;
}

.contenedor_info_subasta .contenedor_info ol,
.contenedor_info_compraya .contenedor_info ol{
    font-family: var(--font--banner--bool);
    line-height: 2.1rem;
}

.contenedor_info_subasta .contenedor_info a,
.contenedor_info_compraya .contenedor_info a,
.contenedor_info_propuesta .contenedor_info a{
    width: 150px;
    height: 35px;
    font-size: .9rem;
    box-shadow: 2px 3px 5px  #ffd0d0;
}

.contenedor_info_subasta img,
.contenedor_info_compraya img,
.contenedor_info_propuesta img{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.contenedor_info_propuesta .contenedor_info ol{
    font-family: var(--font--banner--bool);
}

.porque{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.porque h2{
    font-family: var(--font--banner--bool);
    font-size: 1.7rem;
    font-weight: 900;
    color: #5f5f5f;
}

.porque p{
    font-size: 1.1rem;
    font-family: var(--font--banner--semi);

}

.contenedor_infor_porque{
    width: 60%;
    gap: 2rem;
    margin-top: 1.5rem;
}

.tarjeta{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenes_tarjetas{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}


.tarjeta .contenedor_info h4{
    font-family: var(--font--banner--semi);
    font-weight: 600;
    color: #d30000;
    text-align: center;
}

.tarjeta .contenedor_info p{
    color: #575757;
    font-family: var(--font--banner--semi);
    text-align: justify;
    width: 100%;
}

/* OPORTUNIDADES */

.oportunidad{
    width: 100%;
    height: 20vh;
    background-color: #d30000;
    color: #fff;
    text-align: center;
    padding-top: 2rem;
}

.oportunidad h2{
    font-family: var(--font--banner--bool);
    font-weight: 700;
    font-size: 2.5rem;
}

.oportunidad p{
    font-family: var(--font--banner--semi);
    font-weight: 500;
    font-size: 1.2rem;
}

.oportunidad a{
    display: inline-block;
    width: 200px;
    height: 40px;
    background-color: #fff;
    padding-top: .5rem;
    text-decoration: none;
    font-family: var(--font--header--v2);
    color: #000;
    font-weight: 600;
}