@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Sedan:ital@0;1&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scope+One&display=swap");

:root {
  --font--banner--semi: url("/fonts/segoeuithibd.ttf");
  --font--banner--bool: url("/fonts/segoeuithibd.ttf");
  --font--parrafo: "Space Mono";
  --font--header: "Sedan";
  --font--testimoni: "Modern Antiqua";
  --font--about: "BioRhyme";
  --font--cont: "Scope One";
  --bg--botones: #a29060;
  --color--sub: #c5ac75;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
header {
  position: absolute;
  width: 100%;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
}

.session {
  position: relative;
}

.session p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1rem;
}

.session p span a {
  font-size: 1rem;
  font-family: var(--font--parrafo);
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
}

.session p span a:hover {
  font-weight: 900;
}

header nav {
  display: flex;
  gap: 2rem;
}

header nav a {
  font-size: 1.1rem;
  font-family: var(--font--header);
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

header nav a:hover {
  transform: scale(1.1);
}

header .session p .btn_menu {
  background: none;
  border: none;
  cursor: pointer;
}

header .session p .btn_menu i {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.menu_desplegable {
  min-width: 300px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #c5ac75;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s,
    opacity 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53),
    transform 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transform: translateX(100%);
}

.menu_desplegable.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.menu_desplegable div ul{
  list-style: none;
}

.menu_desplegable div ul li a{
  text-decoration: none;
  color: #fff;
  font-family: var(--font--banner--bool);
  font-weight: 400;
  transition: ease-in .3s;
}

.menu_desplegable div ul li a:hover{
  font-size: 1.1rem;
  border-bottom: 2px solid #fff;
}

.cabezera_menu h3 {
  color: #fff;
}

.cabezera_menu button {
  background: none;
  border: none;
  transition: ease 0.3s;
  color: #fff;
}

.cabezera_menu button:hover {
  font-size: 1.2rem;
}

/* BANNER */
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
}

.banner::before {
  content: "";
  position: absolute;
  top: 107%;
  left: 26.15%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 15.5%;
  background-color: #000;
}

.banner img {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.contenido {
  width: 80%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  margin-left: 1rem;
}

.banner h1 {
  color: #fff;
  font-family: var(--font--banner--bool);
  font-size: 4rem;
  width: 80%;
  margin-bottom: 4rem;
}

.banner a {
  width: auto;
  height: auto;
  background-color: var(--bg--botones);
  font-size: 1.1rem;
  font-family: var(--font--banner--bool);
  font-weight: 600;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px 0px 15px 0px;
  margin-left: 1rem;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
}

.banner a:hover {
  border-radius: 0px 10px 0px 15px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  color: #000;
}

/* ABOUT */
.about {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.social {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.social a {
  transition: ease-out 1s;
}

.social a:hover {
  width: 50px;
  height: 50px;
  border: solid 2px var(--bg--botones);
  padding: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.face {
  width: 1rem;
}

.you {
  width: 2rem;
}

.mail {
  width: 2rem;
}

.info {
  width: 40%;
}

.info h2 {
  font-family: var(--font--about);
  font-size: 2.5rem;
  text-align: end;
  color: var(--bg--botones);
}

.info p {
  font-family: var(--font--about);
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.btn_about {
  width: 100%;
  display: flex;
  justify-content: end;
}

.info a {
  width: auto;
  height: auto;
  border: solid 3px var(--bg--botones);
  font-size: 1rem;
  font-family: var(--font--banner--bool);
  font-weight: 600;
  padding: 0.8rem 2rem 0.8rem 2rem;
  border-radius: 10px 0px 15px 0px;
  margin-left: 1rem;
  color: var(--bg--botones);
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  box-shadow: 3px 4px 10px rgba(80, 80, 80, 0.39);
}

.info a:hover {
  background-color: var(--bg--botones);
  border-radius: 0px 10px 0px 15px;
  color: #fff;
}

/* SUBASTAS */
.subastas {
  width: 100%;
  height: 100vh;
  /* padding: 3rem; */
  position: relative;
}

.subastas .fondo {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.subastas::before {
  content: "";
  position: absolute;
  top: 109.5%;
  left: 49.99%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 20%;
  background-color: #000;
}

.contenedor_subastass {
  width: 100%;
  padding: 3rem;
}

.subastas h2 {
  font-size: 3rem;
  font-family: var(--font--about);
  color: var(--color--sub);
}

.content_card {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 5rem;
}

.card {
  width: 250px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  border-bottom: solid 7px var(--color--sub);
}

.conteneder_imagen {
  width: 100%;
  height: 50%;
}

.card .conteneder_imagen .casa_img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}

.info_like {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.info_card {
  padding: 0.7rem;
}

.info_card h3 {
  font-size: 1.4rem;
  font-family: var(--font--about);
  font-weight: 600;
}

.info_card .depat {
  font-size: 1.06rem;
  font-family: var(--font--about);
}

.info_card p {
  font-size: 1.2rem;
  font-family: var(--font--about);
  font-weight: 600;
  margin-top: 0.5rem;
}

.info_card span img {
  width: 1.9rem;
}

.like button {
  background-color: #fff;
  border-radius: 50%;
  border: none;
  box-shadow: 1px 2px 3px #00000081;
  cursor: pointer;
}

/* COMENTARIOS */
.comentarios {
  width: 100%;
  height: 40vh;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
}

.comentarios h2 {
  font-family: var(--font--testimoni);
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
  color: var(--color--sub);
}

.Testimonio {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comentarios-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.comentario {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.comentario p:nth-child(1) {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.comentario p:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.comentario p:nth-child(2) i {
    font-size: 2rem;
    color: var(--color--sub);
}

.Testimonio button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.Testimonio button img {
  width: 1.5rem;
}

/* REDES */
.redes_sociales {
  width: 100%;
  height: 100vh;

  position: relative;
}

.redes_sociales::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 78.5%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 30%;
  background-color: #fff;
}

.contenedor_info_redes {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.redes_sociales .img_fondo {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.redes {
  width: 40%;
  height: 50%;
}

.youtube {
  position: relative;
  left: 11.5%;
  top: 14%;
}

.linea2,
.liena3 {
  display: flex;
}

.liena3 {
  position: relative;
  left: 11%;
  bottom: 14%;
}

.redes_sociales h2 {
  font-size: 3rem;
  font-family: var(--font--parrafo);
  color: var(--color--sub);
}

/* CONTACTANOS */
.contacto {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding-left: 7rem;
  padding-right: 7rem;
  padding-top: 7rem;
}

.info_cont {
  width: 30%;
}

.info_cont h2 {
  font-size: 3rem;
  font-family: var(--font--parrafo);
  color: var(--color--sub);
  margin-bottom: 1rem;
}

.contactos {
  margin-left: 1rem;
}

.contactos ul li {
  list-style: none;
  margin-bottom: 1rem;
}

.contactos ul li a {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  color: #000;
  font-family: var(--font--cont);
}

.info_cont form {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.inputs {
  width: 100%;
  height: 5vh;
  background-color: #ebebeb;
  border: none;
  border-left: 0.4rem solid var(--color--sub);
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.inputs::placeholder {
  font-size: 0.9rem;
}

.inputs:focus {
  outline: none;
}

.info_cont form textarea {
  width: 100%;
  height: 15vh;
  background-color: #ebebeb;
  border: none;
  border-left: 0.4rem solid var(--color--sub);
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 1.1rem;
}

.info_cont form textarea:focus {
  outline: none;
}

.info_cont form textarea::placeholder {
  font-size: 1.1rem;
}

.info_cont form button {
  width: 30%;
  height: 45px;
  border: none;
  background-color: #fff;
  border: 2px solid var(--color--sub);
  font-family: var(--font--parrafo);
  border-radius: 5px;
  color: #707070;
  font-size: 1.05rem;
  font-weight: 600;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.info_cont form button:hover {
  transform: scale(1.1);
}

/* Estilos para la calificación por estrellas */
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 5px;
  /* Espaciado entre las estrellas */
  margin-bottom: 1rem;
  /* Alineado con otros inputs */
}

.rating input {
  display: none;
}

.rating label {
  font-size: 2.5rem;
  color: #ccc;
  /* Color gris por defecto */
  cursor: pointer;
}

.rating label::before {
  content: "★";
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
  color: var(--color--sub);
  /* Color dorado al seleccionar */
}

/* FOOTER */

footer {
  margin-top: 2rem;
  width: 100%;
  height: 70vh;
  position: relative;
}

footer .img_footer {
  width: 100%;
  height: 70vh;
  position: absolute;
  z-index: -1;
}

.contenedor_superior {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer::before {
  content: url("/img/reset.svg");
  position: absolute;
  top: 21.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.contet_footer {
  margin-top: 12rem;
}

.img_logo {
  width: 70%;
}

.subastar {
  color: #ebebeb;
  font-family: var(--font--about);
  font-size: 0.9rem;
  text-decoration: none;
  transition: ease-in-out 0.3s;
}

.subastar span {
  text-decoration: underline;
  color: var(--color--sub);
  transition: ease-in-out 0.3s;
}

.subastar:hover {
  color: var(--color--sub);
}

.subastar:hover span {
  color: #ebebeb;
}

.redes_footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contet_footer p {
  color: #444444;
}

.redes_footer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

/* ANIMACIONES */
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
