@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Sedan:ital@0;1&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scope+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font--banner--semi: "Barlow";
  --font--banner--bool: "Roboto";
  --font--parrafo: "Space Mono";
  --font--header: "Sedan";
  --font--testimoni: "Modern Antiqua";
  --font--about: "BioRhyme";
  --font--cont: "Scope One";
  --font--sub--title: "Arsenal SC";
  --font--sub--title--2: "Roboto Condensed";
  --font--sub--title--3: "Kanit";
  --bg--botones: #d30000;
  --color--sub: #d30000;
}

/* HEADER */
header {
  /* position: absolute; */
  width: 100%;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
}

.logo{
  width: 7%;
}

.logo img{
  width: 100%;
}

.session p {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.ingresar{
  padding: .1rem .6rem .2rem .6rem !important;
  background-color: #B20000;
  border-radius: 5px;
}

.ingresar:hover{
  background-color: #d30000;
}

.ingresar span i{
  font-size: 1.5rem;
  font-weight: 600;
}

.ingresar span a {
  text-decoration: none;
  font-size: 1rem;
  font-family: var(--font--parrafo);
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
  font-weight: 600;
}

header nav {
  display: flex;
  gap: 2rem;
}

header nav a {
  font-size: 1.1rem;
  font-family: var(--font--header);
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}

header nav a:hover {
  transform: scale(1.1);
}

.session{
  padding: .1rem .6rem .2rem .6rem !important;
  background-color: #B20000;
  border-radius: 5px;
}

header .session p .btn_menu {
  background: none;
  border: none;
  cursor: pointer;
}

header .session p .btn_menu i {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin-right: .5rem;
}

.menu_desplegable {
  min-width: 300px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #c5ac75;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s,
    opacity 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53),
    transform 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transform: translateX(100%);
  z-index: 100;
}

.menu_desplegable.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.menu_desplegable div ul{
  list-style: none;
}

.menu_desplegable div ul li a{
  text-decoration: none;
  color: #fff;
  font-family: var(--font--banner--bool);
  font-weight: 400;
  transition: ease-in .3s;
}

.menu_desplegable div ul li a:hover{
  font-size: 1.1rem;
  border-bottom: 2px solid #fff;
}

.cabezera_menu h3 {
  color: #fff;
}

.cabezera_menu button {
  background: none;
  border: none;
  transition: ease 0.3s;
  color: #fff;
}

.cabezera_menu button:hover {
  font-size: 1.2rem;
}


/* SUBASTAS */
.detalles_subasta {
  width: 100%;
  margin-top: 2rem;
  gap: 3rem;
  padding-bottom: 3rem;
}

.property-detail {
  width: 35%;
  background-color: #f0f0f0;
  padding: 1rem;
}

.scroll-1::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-1::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgb(204, 120, 120);
  background: linear-gradient(90deg, rgb(204, 120, 120) 0%, rgb(214, 165, 165) 100%);
}

.content_galeria {
  width: 100%;
}

.imgen_principal {
  width: 100%;
  height: 45vh;
  overflow: hidden;
  border-radius: 5px;
}

.imgen_principal .img_principal {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ajusta la imagen para cubrir el contenedor */
}

.galeria {
  width: 100%;
  overflow-x: auto;
  /* Permite el desplazamiento horizontal */
  white-space: nowrap;
  /* Evita el salto de línea */
  display: flex;
  /* Cambia a flex para manejar las imágenes horizontalmente */
  flex-wrap: nowrap;
  /* Evita el salto de línea en el flexbox */
  padding: 10px 0;
  /* Añade relleno superior e inferior para espacio */
}

.img_wrapper {
  width: auto;
  /* Ancho automático para cada imagen */
  flex: 0 0 auto;
  /* Ancho automático pero no se estira */
  margin-right: 10px;
  /* Espacio entre las imágenes */
}

.imgs {
  width: 100%;
  /* Ajusta al ancho completo del contenedor */
  height: auto;
  /* Altura automática según la relación de aspecto */
  max-height: 150px;
  /* Altura máxima para controlar el tamaño */
  cursor: pointer;
  /* Cambia el cursor al pasar sobre las imágenes */
  transition: transform 0.2s ease;
  /* Transición suave al hacer hover */
}

.imgs:hover {
  transform: scale(1.1);
  /* Aumenta ligeramente al hacer hover */
}

.imgs:focus {
  outline: none;
  /* Elimina el contorno al enfocar */
}

.galeria .imgs.active {
  border-color: #3182ce;
  /* Color del borde cuando está activa */
}

.property-details-content {
  background-color: #fff;
  border-radius: 5px;
}

.property-details-content .content_title {
  width: 100%;
  text-align: center;
  padding-top: 1.5rem;
}

.property-details-content h4 {
  display: inline-block;
  color: var(--color--sub);
  font-size: 1.2rem;
  font-family: var(--font--sub--title--3);
  font-weight: 600;
  position: relative;
  padding: 10px 15px 10px 15px;
}

/* .property-details-content h4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 7%;
  height: 30%;
  border-top: 3px solid var(--bg--botones);
  border-left: 3px solid var(--bg--botones);
}

.property-details-content h4::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 7%;
  height: 30%;
  border-bottom: 3px solid var(--bg--botones);
  border-right: 3px solid var(--bg--botones);
}
 */
.content_info_subastas p {
  border-bottom: 1px solid #dddddd;
}

.content_info_subastas p span:first-child {
  font-family: var(--font--sub--title--3);
  color: #990000;
}

.nombre_tipo {
  width: 80%;
  height: auto;
}

.nombre_tipo h3 {
  font-size: 1.1rem;
  font-weight: 400;
  padding-bottom: 5px;
  border-bottom: 1px solid #dddddd;
}

.nombre_tipo h3 span:first-child {
  font-family: var(--font--sub--title--3);
  color: #BD0000;
}

.features,
.imagenes {
  width: 80%;
}

.content_descripcion {
  width: 80%;
}

.content_descripcion h5 {
  color: var(--color--sub);
  font-weight: 400;
  font-family: var(--font--sub--title--2);
  font-size: 1.5rem;
}

.content_descripcion p {
  border: none !important;
}

.content_descripcion p span {
  height: auto;
  color: #000 !important;
  font-weight: 200 !important;
}

.importante span:last-child ,
.descripcion span:last-child {
  font-size: .6rem;
  text-align: end;
}

/* CHAT */

.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 500px;
  font-family: Arial, sans-serif;
}

.card-header {
  background-color: var(--color--sub);
  color: white;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header p {
  margin: 0;
}

.card-header .heart-icon {
  font-size: 1.5rem;
}

.card-body {
  padding: 1rem;
  text-align: center;
  display: block;
}

.card-body.active {
  display: none;
}

.card-body h2 {
  color: #BD0000;
  font-size: .9rem;
  font-family: var(--font--about);
  margin: 1rem 0;
}

.card-body button {
  width: 80%;
  height: 45px;
  background-color: #FBB44C;
  font-family: var(--font--sub--title--3);
  font-weight: 600;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.card-body button:hover {
  background-color: #ffa928;
}

.precio {
  gap: .5rem;
}

.precio i {
  font-size: 1.5rem;
  color: #00722a;
}

.precio .precio_base {
  color: #00722a !important;
  font-family: var(--font--sub--title--2) !important;
  font-weight: 300 !important;
  font-size: 1.2rem;
}

.price {
  color: #00521e;
  font-family: var(--font--sub--title--2);
  font-size: 1.1rem;
  font-weight: 600;
  margin: 1rem 0;
}

.chat {
  display: none;
  border: 1px solid #ccc;
  padding: 0px 10px 10px 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.chat.active {
  display: block;
}

.messages {
  height: calc(100% - 80px);
  /* Ajustar según la altura de .content_acciones y .progress */
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.content_acciones {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.mensaje {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #BD0000;
  border-radius: 5rem;
}

.input_mensaje {
  width: 70%;
  padding: 0 2em;
  text-align: center;
  box-sizing: border-box;
  border: none;
}

.input_mensaje:focus {
  outline: none;
}

.mensaje button {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #990000;
}

.mensaje button:hover {
  color: #BD0000;
}

.mensaje .btn-minus {
  left: 0;
}

.mensaje .btn-plus {
  right: 0;
}

.btn_enviar {
  background-color: #BD0000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn_enviar:hover {
  background-color: #990000;
}

.progress-bar {
  transition: width 0.1s linear;
}


.btn_enviar {
  width: 23%;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Asegurar que las partículas estén detrás de la alerta */
}

.bg-btn-alert2{
  background-color: #BD0000;
}

.bg-btn-alert2:focus-visible{
  box-shadow: none;
}

.contet_pdf{
  transition: ease-in .2s;
  cursor: pointer;
}

.contet_pdf:hover{
  background-color: #ccc;
}

.archivo_pdf{
  width: 100%;
  height: auto;
  font-size: .9rem;
  text-decoration: none;
  color: #000;
  margin-left: .8rem;
  transition: ease-in .1s;
}

.archivo_pdf i{
  font-size: 1.5rem !important;
  color: #990000 !important;
}

.contet_pdf:hover a.archivo_pdf {
  text-decoration: underline;
}
