<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_home.css">
    <title>home</title>
</head>

<body>
    <header>
        <div class="logo"><img src="/img/logo.png" alt=""></div>
        <nav>
            <a href="/user/">Inicio</a>
            <a href="#about">About</a>
            <a href="/user/subasta">Subastas</a>
            <a href="#contacto">Contáctenos</a>
        </nav>
        <div class="session">
            <img src="/img/session.svg" alt="">
            <p>
                <span>
                    <a href="/user/login">Login</a>
                </span>
                <span>/</span>
                <span>
                    <a href="/user/registro">Sign up</a>
                </span>
            </p>
        </div>
    </header>

    <!-- BANNER -->
    <section class="banner" id="banner">
        <img src="/img/Banner.png" alt="">
        <div class="contenido">
            <h1>Invierte en tu futuro con nuestras subastas de inmuebles.</h1>
            <a href="#contacto">Contáctenos</a>
        </div>

    </section>

    <!-- ABOUT -->
    <section class="about" id="about">
        <div class="image_social">
            <img src="/img/about.svg" alt="">
            <div class="social">
                <a href="">
                    <img class="face" src="/img/face.svg" alt="">
                </a>
                <a href="">
                    <img class="you" src="/img/youtube.svg" alt="">
                </a>
                <a href="">
                    <img class="mail" src="/img/mail.svg" alt="">
                </a>
            </div>
        </div>
        <div class="info">
            <h2>Urbaniza Club</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur. Pellentesque tincidunt
                id mauris tellus feugiat gravida pulvinar viverra lacus. Vitae
                et scelerisque nunc cursus venenatis praesent sit lorem. Fermentum
                mi ligula tempus tristique lobortis aenean. Blandit risus ut id turpis.
                Vitae id vel suscipit felis. Morbi turpis diam in odio. Lorem nulla sodales
                etiam arcu elit. Convallis commodo nibh sed montes augue.
            </p>
            <div class="btn_about">
                <a href="#contacto">Contáctenos</a>
            </div>
        </div>
    </section>

    <!-- SUBASTAS -->
    <section class="subastas">
        <img class="fondo" src="/img/fodo_subastas.png" alt="">
        <div class="contenedor_subastass">
            <h2>Subastas esperadas</h2>
            <div class="content_card">
                <div class="card">
                    <img class="casa_img" src="/img/casas.png" alt="">
                    <div class="info_like">
                        <div class="info_card">
                            <h3>Casa de campo</h3>
                            <p class="depat">Lima</p>
                            <p>
                                <span><img src="/img/plata.svg" alt=""></span>
                                <span>US$</span>
                                <span>100,000</span>
                            </p>
                        </div>
                        <div class="like">
                            <button>
                                <img src="/img/like.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="casa_img" src="/img/casas.png" alt="">
                    <div class="info_like">
                        <div class="info_card">
                            <h3>Casa de campo</h3>
                            <p class="depat">Lima</p>
                            <p>
                                <span><img src="/img/plata.svg" alt=""></span>
                                <span>US$</span>
                                <span>100,000</span>
                            </p>
                        </div>
                        <div class="like">
                            <button>
                                <img src="/img/like.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="casa_img" src="/img/casas.png" alt="">
                    <div class="info_like">
                        <div class="info_card">
                            <h3>Casa de campo</h3>
                            <p class="depat">Lima</p>
                            <p>
                                <span><img src="/img/plata.svg" alt=""></span>
                                <span>US$</span>
                                <span>100,000</span>
                            </p>
                        </div>
                        <div class="like">
                            <button>
                                <img src="/img/like.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="casa_img" src="/img/casas.png" alt="">
                    <div class="info_like">
                        <div class="info_card">
                            <h3>Casa de campo</h3>
                            <p class="depat">Lima</p>
                            <p>
                                <span><img src="/img/plata.svg" alt=""></span>
                                <span>US$</span>
                                <span>100,000</span>
                            </p>
                        </div>
                        <div class="like">
                            <button>
                                <img src="/img/like.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- COMENTARIOS -->
    <section class="comentarios">
        <h2>
            Testimonios
        </h2>
        <div class="Testimonio">
            <button id="back">
                <img src="/img/back.svg" alt="">
            </button>

            <div class="comentario">
                <p>
                    Lorem ipsum dolor sit amet consectetur. Fermentum
                    vitae nisl dignissim lectus in natoque. Vel semper
                    ut orci euismod pulvinar fermentum egestas.
                </p>
                <p>
                    <span><img src="/img/estrella.svg" alt=""></span>
                    <span><img src="/img/estrella.svg" alt=""></span>
                    <span><img src="/img/estrella.svg" alt=""></span>
                    <span><img src="/img/estrella.svg" alt=""></span>
                    <span><img src="/img/estrella.svg" alt=""></span>
                </p>
            </div>

            <button id="next">
                <img src="/img/next.svg" alt="">
            </button>
        </div>
    </section>

    <!-- REDES -->
    <section class="redes_sociales">
        <img class="img_fondo" src="/img/fondo_sociales.png" alt="">
        <div class="contenedor_info_redes">
            <div class="redes">
                <div class="youtube">
                    <a href="">
                        <img src="/img/youtubec.svg" alt="">
                    </a>
                </div>
                <div class="linea2">
                    <div class="tiktok">
                        <a href="">
                            <img src="/img/tiktok.svg" alt="">
                        </a>
                    </div>
                    <div class="faceboock">
                        <a href="">
                            <img src="/img/facebookc.svg" alt="">
                        </a>
                    </div>
                    <div class="twiter">
                        <a href="">
                            <img src="/img/twiter.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="liena3">
                    <div class="instagram">
                        <a href="">
                            <img src="/img/instagram.svg" alt="">
                        </a>
                    </div>
                    <div class="chat">
                        <a href="">
                            <img src="/img/whatsapp.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <h2>Redes Sociales</h2>
        </div>

    </section>

    <!-- CONTACTANOS -->
    <section class="contacto" id="contacto">
        <div class="info_cont">
            <h2>Comentarios</h2>
            <div class="contactos">
                <ul>
                    <li>
                        <a href="">
                            <img src="/img/map.svg" alt="">
                            <p>
                                <span>Av. Ejercito °N100</span> <br>
                                <span>Arequipa - Perú</span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/img/tel.svg" alt="">
                            <p>+51 - 999999999</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/img/maill.svg" alt="">
                            <p>subastas@urbaniza.club</p>
                        </a>
                    </li>
                </ul>
            </div>
            <form action="" method="post">
                <input class="inputs" type="text" name="nombre" id="" placeholder="NOMBRE COMPLETO">
                <textarea name="texto" id="" placeholder="COMENTARIO"></textarea>
                <div class="rating">
                    <input type="radio" name="rating" id="star5" value="5">
                    <label for="star5" title="5 stars"></label>
                    <input type="radio" name="rating" id="star4" value="4">
                    <label for="star4" title="4 stars"></label>
                    <input type="radio" name="rating" id="star3" value="3">
                    <label for="star3" title="3 stars"></label>
                    <input type="radio" name="rating" id="star2" value="2">
                    <label for="star2" title="2 stars"></label>
                    <input type="radio" name="rating" id="star1" value="1">
                    <label for="star1" title="1 star"></label>
                </div>
                <button type="submit">Enviar</button>
            </form>
        </div>
        <div class="mapa">
            <img src="/img/mapa.png" alt="">
        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <img class="img_footer" src="/img/footer.png" alt="">
        <div class="contenedor_superior">
            <div class="contet_footer">
                <img class="img_logo" src="/img/footer_logo.svg" alt="">
                <div class="redes_footer">
                    <a href="">
                        <img src="/img/face_footer.svg" alt="">
                    </a>
                    <a href="">
                        <img src="/img/whatsapp_footer.svg" alt="">
                    </a>
                </div>
                <a href="/admin/LoginAdminV" class="subastar">Quieres subastar tus propiedades <span>Click</span></a>
                <p>COPYRIGHT @ SUBASTAS.COM 2024</p>
            </div>
        </div>
        
    </footer>
</body>

</html>