<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/img/footer_logo.svg" type="image/x-icon">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- BOOSTRAP SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- BOOTSSTRAP ICON -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- ESTILOS -->
    <link rel="stylesheet" href="/css/style_politicas_privacidad.css">

    <!-- ESTILOS DE COMPONENTES -->
    <link rel="stylesheet" href="/css/partials/styles_header.css">
    <link rel="stylesheet" href="/css/partials/styles_footer.css">
    <link rel="stylesheet" href="/css/partials/styles_whatsapp_flot.css">
    <link rel="stylesheet" href="/css/partials/styles_search.css">

    <!-- ICONS -->
    <script src="https://kit.fontawesome.com/78137c0870.js" crossorigin="anonymous"></script>

    <title>Políticas de privacidad</title>
</head>

<body>
    <%- include('partials/header') %>

        <section class="privacidad">
            <div class="contenido_privacidad">
                <h1>
                    <span><img src="/img/vecteezy_confused-man-with-question-mark-concept-flat-illustration_.jpg"
                            alt=""></span>
                    <span>Políticas de Privacidad</span>
                </h1>
                <p>SUBASTA SUR tiene el compromiso de garantizar la privacidad de los datos personales de sus usuarios
                    según la legislación vigente. Para participar en las subastas divulgadas en SUBASTA SUR, es
                    necesario proporcionar los datos personales del usuario al completar el formulario de registro, así
                    como aceptar el Procedimiento de Utilización de SUBASTA SUR. Los datos solicitados en el formulario
                    de registro y los recabados durante la navegación (cookies) son limitados al mínimo necesario para
                    garantizar la adecuada y eficiente ejecución de los servicios brindados por SUBASTA SUR. La
                    información de los usuarios es importante para SUBASTA SUR por las siguientes razones:</p>
                <ul>
                    <li>Mejorar los servicios ofrecidos.</li>
                    <li>Atender mejor las necesidades de los usuarios.</li>
                    <li>Personalizar los anuncios y el contenido.</li>
                    <li>Ofrecer nuevos servicios y ofertas especiales.</li>
                </ul>

                <h2>Intercambio de información</h2>
                <p>SUBASTA SUR no comparte con terceros ningún dato proporcionado por el usuario o recabado durante la
                    navegación, excepto cuando una autoridad judicial o administrativa así lo determine. SUBASTA SUR
                    podrá compartir datos que permitan identificar al usuario cuando:</p>
                <ul>
                    <li>Obtenga el consentimiento del usuario.</li>
                    <li>Sea necesario compartir información para brindar el servicio solicitado.</li>
                    <li>Exista una determinación por parte de una autoridad judicial o administrativa.</li>
                    <li>Haya una violación al Procedimiento de Utilización de SUBASTA SUR.</li>
                </ul>

                <h2>Seguridad, Protección y Almacenamiento</h2>
                <p>SUBASTA SUR implementa las medidas de seguridad adecuadas para la protección de la información
                    proporcionada por el usuario y recabada durante la navegación, a fin de garantizar la calidad,
                    integridad y confidencialidad de los datos, restringiendo el acceso o la manipulación de terceros no
                    autorizados. Solo tienen acceso a los datos de los usuarios colaboradores calificados y
                    seleccionados por SUBASTA SUR, quienes están sujetos a obligaciones contractuales de
                    confidencialidad y, además, a penalidades disciplinarias. La información de los usuarios se almacena
                    en servidores que cumplen con los estándares adecuados para la seguridad y protección de la
                    información.</p>

                <h2>Utilización de cookies</h2>
                <p>Una cookie es un pequeño archivo de texto no ejecutable que se almacena en la computadora del usuario
                    cuando navega por SUBASTA SUR. SUBASTA SUR utiliza dos tipos de cookies: (i) "cookies de sesión",
                    que retienen información durante la visita del usuario; por ejemplo, si el usuario está completando
                    más de un formulario, solo necesita ingresar la información una vez, y (ii) "cookies persistentes",
                    que permanecen en la computadora del usuario después de la navegación y ayudan a monitorear las
                    secciones visitadas para mejorar los servicios y la experiencia del usuario. Las cookies no
                    contienen información personal o confidencial sobre los usuarios. La mayoría de los navegadores
                    están configurados para aceptar cookies automáticamente. Para más información, consulte la Política
                    de Cookies.</p>

                <h2>Enlaces a otros sitios</h2>
                <p>SUBASTA SUR contiene enlaces a otros sitios web. SUBASTA SUR no se hace responsable por las prácticas
                    de privacidad ni por el contenido de esos otros sitios. Es responsabilidad de los usuarios verificar
                    la política de privacidad de dichos sitios.</p>

                <h2>Control de la información de los usuarios</h2>
                <p>El usuario es el único titular de sus datos personales, y SUBASTA SUR utiliza los datos únicamente de
                    acuerdo con la legislación aplicable y la autorización expresa del usuario. En cualquier momento, el
                    usuario podrá contactar a SUBASTA SUR para solicitar:</p>
                <ol type="i">
                    <li>La corrección de datos incompletos, incorrectos o desactualizados.</li>
                    <li>El bloqueo o eliminación de datos innecesarios, excesivos o tratados en contravención de la
                        legislación aplicable.</li>
                    <li>La exportación de datos.</li>
                    <li>La revocación de la autorización para el uso de los datos del usuario previamente concedida.
                    </li>
                </ol>
                <p>En caso de revocar la autorización previamente concedida, SUBASTA SUR podría no brindar al usuario
                    determinados servicios disponibles en la plataforma. La corrección, el bloqueo, la eliminación o la
                    exportación de los datos personales del usuario deberá ser solicitada a través del canal oficial de
                    comunicación (enviar un e-mail a soporte@subastasur.com).</p>

                <h2>Cambios en la Política de Privacidad</h2>
                <p>SUBASTA SUR podrá realizar cambios en esta Política de Privacidad cuando sea necesario. Estos cambios
                    serán publicados en SUBASTA SUR.</p>

                <h2>Dudas sobre la Política de Privacidad</h2>
                <p>En caso de dudas sobre la Política de Privacidad, el usuario deberá enviar un e-mail a
                    soporte@subastasur.com.</p>
            </div>
        </section>




        <!-- WHATSAPP FLOTANTE -->
        <%- include('partials/whatsapp_flot') %>

            <%- include('partials/footer') %>

                <!-- SCRIPTS -->
                <script>
                    document.addEventListener('DOMContentLoaded', () => {
                        const botonActivar = document.getElementById("btn_menu");
                        const botonCerrar = document.getElementById("btn_close");
                        const contenederMenu = document.getElementsByClassName("menu_desplegable")[0];

                        botonActivar.addEventListener('click', () => {
                            contenederMenu.classList.add("active");
                        });

                        botonCerrar.addEventListener('click', () => {
                            contenederMenu.classList.remove("active");
                        });
                    });
                </script>

                <script src="/js/partials/script_header.js"></script>
                <script src="/js/partials/script_whatsapp_flot.js"></script>
</body>

</html>