<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="/img/footer_logo.svg" type="image/x-icon">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- BOOSTRAP SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- BOOTSSTRAP ICON -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- ESTILOS -->
    <link rel="stylesheet" href="/css/style_politicas_cookies.css">

    <!-- ESTILOS DE COMPONENTES -->
    <link rel="stylesheet" href="/css/partials/styles_header.css">
    <link rel="stylesheet" href="/css/partials/styles_footer.css">

    <link rel="stylesheet" href="/css/partials/styles_whatsapp_flot.css">

  <!-- ICONS -->
  <script src="https://kit.fontawesome.com/78137c0870.js" crossorigin="anonymous"></script>

    <title>Subasta Sur || Pliticas de cookies</title>
</head>

<body>

    <%- include('partials/header') %>

    <section class="cookies">
        <div class="contenedor_cookies">
            <h1>
                <span><img src="/img/vecteezy_confused-man-with-question-mark-concept-flat-illustration_.jpg"
                            alt=""></span>
                <span>Política de Cookies</span>
            </h1>
            <p>
                Un cookie es un pequeño archivo de texto no ejecutable que es almacenado en la computadora del usuario cuando él
                navega por el Portal Subastasur. El Portal Subastasur utiliza dos tipos de cookies: (i) los “cookies de sesión”
                que retienen información durante la visita del usuario, por ejemplo, si el usuario está rellenando más de un
                formulario, solamente tiene que digitar la información una vez, y (ii) los "cookies persistentes" que permanecen
                en la computadora del usuario después de la navegación y auxilian el monitoreo de las secciones del Portal
                visitadas por el Usuario para mejorar los servicios brindados y la experiencia del usuario.
                Las cookies no poseen ninguna información personal o confidencial sobre los usuarios. El usuario puede optar por
                aceptar o rechazar las cookies. La mayoría de los navegadores web acepta cookies automáticamente, pero el
                usuario podrá modificar la configuración de su navegador para rechazar cookies. Entretanto, eso podrá impedir el
                usuario de obtener la mejor experiencia de navegación en el Portal.
                El Portal Subastasur podrá alterar la Política de Cookies en cualquier momento. Esas alteraciones serán
                publicadas en el Portal Subastasur. Para aclarar sus dudas, por favor, contacte el Portal Subastasur a través de
                la dirección electrónica.
            </p>
        </div>
    </section>

    <!-- WHATSAPP FLOTANTE -->
  <%- include('partials/whatsapp_flot') %>

    <%- include('partials/footer') %>

            <!-- SCRIPTS -->
            <script>
                document.addEventListener('DOMContentLoaded', () => {
                    const botonActivar = document.getElementById("btn_menu");
                    const botonCerrar = document.getElementById("btn_close");
                    const contenederMenu = document.getElementsByClassName("menu_desplegable")[0];

                    botonActivar.addEventListener('click', () => {
                        contenederMenu.classList.add("active");
                    });

                    botonCerrar.addEventListener('click', () => {
                        contenederMenu.classList.remove("active");
                    });
                });
            </script>

            <script src="/js/partials/script_header.js"></script>
            <script src="/js/partials/script_whatsapp_flot.js"></script>
    
</body>

</html>