<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/footer_logo.svg" type="image/x-icon">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/slyle_register.css"> <!-- Ajusta la ruta según tu estructura de archivos -->
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- BOOTSTRAP ICON -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="contenedor_general">
        <div class="contenedor_general_a d-flex flex-row">
            <div class="banner_registro d-flex justify-content-center align-items-center flex-column">
                <h1>Bienvenido</h1>
                <p> Podrás ver todos los detalles de las propiedades y participar en las subastas activas.</p>
                <div class="tipo_persona">
                    <button class="me-3">Persona natural</button>
                    <button>Persona juridica</button>
                </div>
            </div>
            <div class="contenedor_de_datos d-flex flex-column justify-content-center align-items-center">
                <div class="titulo">
                    <h2>Crea una cuenta Subasta Sur</h2>
                </div>
                <div class="navegador d-flex justify-content-center flex-row">
                    <div class="nav_datos uno active" id="step-1">
                        <p>1</p>
                    </div>
                    <div class="nav_datos dos" id="step-2">
                        <p>2</p>
                    </div>
                    <div class="nav_datos tres" id="step-3">
                        <p>3</p>
                    </div>
                </div>

                <!-- FORM PERSONA NATURAL -->
                <div class="contenedor_datos_natural d-flex flex-column align-items-center">
                    <form action="" method="post">
                        <div class="datos_personales step active">
                            <h5>Datos Personales</h5>
                            <div class="espacioT nombre row">
                                <input class="col" type="text" placeholder="Nombre y Apellidos">
                                <input class="col" type="text" placeholder="DNI/CE">
                            </div>
                            <div class="espacioT email row">
                                <input class="col" type="email" placeholder="Email">
                                <input class="col" type="email" placeholder="Confirmacion Email">
                            </div>
                            <div class="espacioT sexo_fecha row">
                                <input class="col" type="number" placeholder="Fecha de Nacimiento">
                                <select class="col" name="sexo">
                                    <option value="M">Masculino</option>
                                    <option value="F">Femenino</option>
                                </select>
                                <select class="col" name="estado_civil">
                                    <option value="">Soltero(a)</option>
                                    <option value="">Casado(a)</option>
                                    <option value="">Divorciado(a)</option>
                                    <option value="">Viudo(a)</option>
                                </select>
                            </div>
                            <div class="espacioT celular row">
                                <input class="col" type="tel" placeholder="Celular">
                                <input class="col" type="tel" placeholder="Telefono">
                            </div>
                            <div class="botones">
                                <button type="button" onclick="nextStep(1)">
                                    Siguiente <i class="bi bi-chevron-double-right"></i>
                                </button>
                            </div>
                        </div>

                        <div class="datos_direccion step">
                            <h5>Direccion</h5>
                            <div class="row espacioT">
                                <input class="col" type="text" placeholder="Departamento">
                                <input class="col" type="text" placeholder="Provincia">
                            </div>
                            <div class="row espacioT">
                                <input class="col-4" type="text" placeholder="Distrito">
                                <input class="col" type="text" placeholder="Direccion">
                            </div>
                            <div class="row espacioT">
                                <input class="col-3" type="text" placeholder="Numero">
                                <input class="col" type="text" placeholder="Complemento (piso, dpto, manzana, etc)">
                            </div>

                            <div class="botones">
                                <button type="button" onclick="nextStep(2)">
                                    Siguiente <i class="bi bi-chevron-double-right"></i>
                                </button>
                            </div>
                        </div>

                        <div class="datos_acceso step">
                            <h5>Datos de acceso</h5>
                            <div class="col espacioI mt-4">
                                <input class="row" type="text" placeholder="Usuario">
                                <input class="row" type="password" placeholder="Contraseña">
                            </div>
                            <div class="terminoss d-flex">
                                <input type="checkbox" name="terminos_y_condiciones" id="terminos_y_condiciones"
                                    value="1" required>
                                <label for="terminos_y_condiciones">
                                    He leído, conozco las condiciones para el tratamiento de mis datos personales y doy
                                    mi consentimiento, tal
                                    y como se describe en
                                    <a target="_blank" href="#">nuestros términos de uso</a>
                                </label>
                            </div>
                            <div class="boton_final">
                                <button type="submit"> Finalizar</button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- FORM PERSONA JURIDICA -->
                <div class="contenedor_datos_juridica">
                    <form action="" method="post">
                        <div class="datos-personales">
                            <input type="email" placeholder="Email">
                            <input type="email" placeholder="Confirmacion Email">
                            <input type="number" placeholder="RUC">
                            <input type="text" placeholder="Nombre Comercial">
                            <input type="text" placeholder="Actividad Comercial">
                            <input type="tel" placeholder="Celular">
                            <input type="tel" placeholder="Telefono">
                            <button type="button">Siguiente</button>
                        </div>
                        <div class="datos_direccion">
                            <input type="text" placeholder="Departamento">
                            <input type="text" placeholder="Provincia">
                            <input type="text" placeholder="Distrito">
                            <input type="text" placeholder="Direccion">
                            <input type="text" placeholder="Numero">
                            <input type="text" placeholder="Complemento (piso, dpto, manzana, etc)">
                            <button type="button">Siguiente</button>
                        </div>
                        <div class="datos_acceso">
                            <input type="text" placeholder="Login/Usuario">
                            <input type="password" placeholder="Contraseña">
                            <p>terminos</p>
                            <button type="submit">Finalizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function toggleNumeroFactura() {
            var facturaCheckbox = document.getElementById("factura");
            var numeroFacturaInput = document.getElementById("numero_factura");
            var hiddenFacturaInput = document.getElementById("hidden_factura");

            if (facturaCheckbox.checked) {
                numeroFacturaInput.disabled = false;
                hiddenFacturaInput.value = "1"; // Cambiar el valor del campo oculto a 1 si el checkbox está marcado
            } else {
                numeroFacturaInput.disabled = true;
                numeroFacturaInput.value = ""; // Limpiar el valor del campo de número de factura si el checkbox no está marcado
                hiddenFacturaInput.value = "0"; // Cambiar el valor del campo oculto a 0 si el checkbox no está marcado
            }
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const boletaCheckbox = document.getElementById("boleta");
            const facturaCheckbox = document.getElementById("factura");

            // Función para deseleccionar el otro checkbox al seleccionar uno
            function toggleCheckboxes(event) {
                if (event.target === boletaCheckbox && boletaCheckbox.checked) {
                    facturaCheckbox.checked = false;
                } else if (event.target === facturaCheckbox && facturaCheckbox.checked) {
                    boletaCheckbox.checked = false;
                }
            }

            // Agregar el evento 'change' a los checkboxes
            boletaCheckbox.addEventListener("change", toggleCheckboxes);
            facturaCheckbox.addEventListener("change", toggleCheckboxes);
        });
    </script>

    <script>
        document.getElementById('signupForm').addEventListener('submit', function (event) {
            // Aquí puedes agregar la lógica de validación del formulario.
            let valid = true;

            // Validación del nombre
            const firstName = document.getElementById('firstName').value;
            if (firstName.trim() === '') {
                valid = false;
                document.getElementById('firstNameError').innerText = 'El nombre es requerido.';
            } else {
                document.getElementById('firstNameError').innerText = '';
            }

            // Validación del apellido
            const lastName = document.getElementById('lastName').value;
            if (lastName.trim() === '') {
                valid = false;
                document.getElementById('lastNameError').innerText = 'El apellido es requerido.';
            } else {
                document.getElementById('lastNameError').innerText = '';
            }

            // Validación del correo electrónico
            const email = document.getElementById('email').value;
            if (email.trim() === '') {
                valid = false;
                document.getElementById('emailError').innerText = 'El correo electrónico es requerido.';
            } else if (!/\S+@\S+\.\S+/.test(email)) {
                valid = false;
                document.getElementById('emailError').innerText = 'El correo electrónico no es válido.';
            } else {
                document.getElementById('emailError').innerText = '';
            }

            // Validación de la contraseña
            const password = document.getElementById('password').value;
            if (password.trim() === '') {
                valid = false;
                document.getElementById('passwordError').innerText = 'La contraseña es requerida.';
            } else {
                document.getElementById('passwordError').innerText = '';
            }

            // Validación de la confirmación de la contraseña
            const confirmPassword = document.getElementById('confirmPassword').value;
            if (confirmPassword.trim() === '') {
                valid = false;
                document.getElementById('confirmPasswordError').innerText = 'Por favor, confirme la contraseña.';
            } else if (password !== confirmPassword) {
                valid = false;
                document.getElementById('confirmPasswordError').innerText = 'Las contraseñas no coinciden.';
            } else {
                document.getElementById('confirmPasswordError').innerText = '';
            }

            // Validación de los términos y condiciones
            const terms = document.getElementById('terms').checked;
            if (!terms) {
                valid = false;
                document.getElementById('termsError').innerText = 'Debe aceptar los términos y condiciones.';
            } else {
                document.getElementById('termsError').innerText = '';
            }

            if (!valid) {
                event.preventDefault(); // Prevenir el envío del formulario si no es válido
            }
        });
    </script>

    <!-- SCRIPTS -->
    <script>
        function nextStep(step) {
            //ocultar las secciones
            let steps = document.querySelectorAll('.step');
            steps.forEach((step) => {
                step.classList.remove('active');
            });

            //Mostar la sigiente seccion
            steps[step].classList.add('active');

            //Actualizar el navegador
            let navItems = document.querySelectorAll('.nav_datos');
            navItems.forEach((item) => {
                item.classList.remove('active');
            });

            navItems[step].classList.add('active');
        }
        // Inicializa el primer paso y el primer elemento del navegador como activos
        document.addEventListener('DOMContentLoaded', () => {
            nextStep(0);
        });
    </script>
</body>

</html>