<!-- FOOTER -->
<footer>
  <a href="#banner">
    <img src="/img/regreso_inicio" class="regresar_inicio" alt="">
  </a>

  <img class="img_footer" src="/img/footer.png" alt="">
  <div class="contenedor_superior">
    <div class="contet_footer">
      <img class="img_logo" src="/img/logo_v2_sin_fondo.png" alt="">
      <div class="redes_footer">
        <a href="">
          <img src="/img/face_footer.png" alt="">
        </a>
        <a href="">
          <img src="/img/whatsapp_footer.png" alt="">
        </a>
      </div>
      <a href="/admin/LoginAdminV" class="subastar">Quieres subastar tus vehículos <span>Click</span></a>
      <p>COPYRIGHT @ SUBASTAS.COM 2024</p>
    </div>
  </div>

</footer>