<!-- FOOTER -->
<!-- <footer>
  <div class="contenedor_superior">
    <div class="contet_footer">
      <img class="img_logo" src="/img/SUBASTA-SUR-ROJO-HORIZONTAL.png" alt="">
      <p>® Subastasur es una marca registrada Todos los derechos reservados 2020</p>
      <div class="redes_footer">
        <div>
          <a href="">
            <img class="img_footer" src="/img/face_footer (1).png" alt="">
          </a>
          <a href="https://api.whatsapp.com/send?phone=51926551304&text=Requiero%20mas%20informacion">
            <img class="img_footer" src="/img/whatsapp_footer (1).png" alt="">
          </a>
          <a href="">
            <img class="img_footer" src="/img/tiktok_footer.png" alt="">
          </a>
          <a href="">
            <img class="img_footer" src="/img/youtube_footer.png" alt="">
          </a>
        </div>

      </div>
      <div class="terminos_condiciones d-flex flex-column">
        <a href="/condicionesYterminos">Condiciones y Términos</a>
        <a href="/politicasDEprivacidad">Políticas de Privacidad</a>
        <a href="/politicasDEcookies">Política de Cookies</a>
      </div>
    </div>
    <div class="copy_paises">
      <div class="paises">
        <img src="/img/icon_peru.png" alt="">
        <img src="/img/icon_argentina.png" alt="">
        <img src="/img/icon_colombia.png" alt="">
        <img src="/img/icon_brasil.png" alt="">
        <img src="/img/icon_chile.png" alt="">
      </div>
      <p>copyright @ subastasur.com 2020</p>
    </div>
  </div>

</footer> -->




<!-- footer2 -->
<footer>
  <div class="contenedor_superior">
  <div class="contenedor row">

    <div class="col img_descripcion">
      <div class="imagen">
        <img class="img_logo" src="/img/SUBASTA-SUR-ROJO-HORIZONTAL.png" alt="">
      </div>

      <div class="descripcion">
        <p>Ofrecemos vehículos, maquinarias y materiales de segundo uso. ¡Nuestras subastas son tu oportunidad para
          adquirir equipos de calidad a precios imbatibles!</p>
      </div>
    </div>

    <div class="col categoria2">

      <h3>categorias</h3>
      <a href="/catalogo?categoria=auto">Autos y Motos</a>

      <a href="/catalogo">Camiones y autobuses</a>

      <a href="/catalogo">Industrial</a>

      <a href="/catalogo">Transporte</a>

    </div>

    <div class="col ayuda">
      <h3>ayuda</h3>
      <a href="https://api.whatsapp.com/send?phone=51926551304&text=Requiero%20mas%20informacion">whatsapp</a><br>
      <a href="#">subastasur@subasta.com</a><br>
      <a href="#">como vender?</a>

    </div>

    <div class="col terminos_condiciones">

      <div class="terminos">
        <h3>terminos y condiciones</h3>
        <a href="/condicionesYterminos">Condiciones y Términos</a><br>

        <a href="/politicasDEprivacidad">Políticas de Privacidad</a><br>
        
        <a href="/politicasDEcookies">Política de Cookies</a>

      </div>

      <div class="redes_sociales">
        <h3>Síguenos</h3>
        <a href="#"><img class="img_footer" src="/img/face_footer (1).png" alt="Facebook"></a>
        <a href="https://api.whatsapp.com/send?phone=51926551304&text=Requiero%20mas%20informacion"><img class="img_footer" src="/img/whatsapp_footer (1).png" alt="WhatsApp"></a>
        <a href="#"><img class="img_footer" src="/img/tiktok_footer.png" alt="TikTok"></a>
        <a href="#"><img class="img_footer" src="/img/youtube_footer.png" alt="YouTube"></a>
      </div>

      </div>
    </div>

    <div class="col copy_paises">
      <div class="paises">
        <img src="/img/icon_peru.png" alt="">
        <img src="/img/icon_argentina.png" alt="">
        <img src="/img/icon_colombia.png" alt="">
        <img src="/img/icon_brasil.png" alt="">
        <img src="/img/icon_chile.png" alt="">
      </div>
      <p>copyright @ subastasur.com 2020</p>
    </div>
  </div>
  </div>
</div>
</footer>