<!-- FOOTER -->
<!-- <footer>
  <div class="contenedor_superior">
    <div class="contet_footer">
      <img class="img_logo" src="/img/SUBASTA-SUR-ROJO-HORIZONTAL.png" alt="">
      <p class="descricion_footer">® Subastasur es una marca registrada Todos los derechos reservados 2020</p>
      <div class="redes_footer">
        <div>
          <a href="">
            <img class="img_footer" src="/img/face_footer (1).png" alt="">
          </a>
          <a href="https://api.whatsapp.com/send?phone=51926551304&text=Requiero%20mas%20informacion">
            <img class="img_footer" src="/img/whatsapp_footer (1).png" alt="">
          </a>
          <a href="">
            <img class="img_footer" src="/img/tiktok_footer.png" alt="">
          </a>
          <a href="">
            <img class="img_footer" src="/img/youtube_footer.png" alt="">
          </a>
        </div>

      </div>
      <div class="terminos_condiciones d-flex flex-column">
        <a href="/condicionesYterminos">Condiciones y Términos</a>
        <a href="/politicasDEprivacidad">Políticas de Privacidad</a>
        <a href="/politicasDEcookies">Política de Cookies</a>
      </div>
    </div>
    <div class="copy_paises">
      <div class="paises">
        <img src="/img/icon_peru.png" alt="">
        <img src="/img/icon_argentina.png" alt="">
        <img src="/img/icon_colombia.png" alt="">
        <img src="/img/icon_brasil.png" alt="">
        <img src="/img/icon_chile.png" alt="">
      </div>
      <p class="descricion_footer">copyright @ subastasur.com 2020</p>
    </div>
  </div>

</footer> -->




<!-- footer2 -->
<footer>
  <div class="contenedor_superior">

    <div class="img_descripcion">
      <div class="imagen">
        <img class="img_logo" src="/img/SUBASTA-SUR-ROJO-HORIZONTAL.png" alt="">
      </div>

      <div class="descripcion">
        <p class="descricion_footer">Ofrecemos vehículos, maquinarias y materiales de segundo uso en subastas,
          brindándote la oportunidad de
          adquirir equipos de calidad a precios inmejorables.</p>
      </div>
    </div>

    <div class="categoria2">

      <h3 class="subtitle">categorias</h3>
      <a href="/catalogo?categoria=auto">Autos y Motos</a>

      <a href="/catalogo">Camiones y autobuses</a>

      <a href="/catalogo">Industrial</a>

      <a href="/catalogo">Transporte</a>

    </div>

    <div class="ayuda">
      <h3 class="subtitle">ayuda</h3>
      <a href="https://api.whatsapp.com/send?phone=51926551304&text=Requiero%20mas%20informacion">whatsapp</a>
      <a href="#">subastasur@subasta.com</a>
      <a href="#">como vender?</a>

    </div>

    <div class="terminos_condiciones">

      <div class="terminos">
        <h3 class="subtitle">terminos y condiciones</h3>
        <a href="/condicionesYterminos">Condiciones y Términos</a>

        <a href="/politicasDEprivacidad">Políticas de Privacidad</a>

        <a href="/politicasDEcookies">Política de Cookies</a>

      </div>

      <div class="redes_sociales">
        <h3 class="subtitle">Síguenos</h3>
        <div class="d-flex ">
          <a href="#"><img class="img_redes" src="/img/face_footer (1).png" alt="Facebook"></a>

          <a href="https://api.whatsapp.com/send?phone=51926551304&text=Requiero%20mas%20informacion"><img
              class="img_redes" src="/img/whatsapp_footer (1).png" alt="WhatsApp"></a>

          <a href="#"><img class="img_redes" src="/img/tiktok_footer.png" alt="TikTok"></a>

          <a href="#"><img class="img_redes" src="/img/youtube_footer.png" alt="YouTube"></a>
        </div>

      </div>

    </div>
  </div>

  <div class="copy_paises">
    <div class="paises">
      <img src="/img/icon_peru.png" alt="">
      <img src="/img/icon_argentina.png" alt="">
      <img src="/img/icon_colombia.png" alt="">
      <img src="/img/icon_brasil.png" alt="">
      <img src="/img/icon_chile.png" alt="">
    </div>
    <p class="descricion_footer">copyright @ subastasur.com 2020</p>
  </div>

  </div>
  </div>
</footer>