<!-- FOOTER -->
<footer>
  <div class="contenedor_superior">
    <div class="contet_footer">
      <img class="img_logo" src="/img/SUBASTA-SUR-ROJO-HORIZONTAL.png" alt="">
      <p>® Subastasur es una marca registrada Todos los derechos reservados 2020</p>
      <div class="redes_footer">
        <div>
          <a href="">
            <img class="img_footer" src="/img/face_footer (1).png" alt="">
          </a>
          <a href="https://api.whatsapp.com/send?phone=51926551304&text=Requiero%20mas%20informacion">
            <img class="img_footer" src="/img/whatsapp_footer (1).png" alt="">
          </a>
          <a href="">
            <img class="img_footer" src="/img/tiktok_footer.png" alt="">
          </a>
          <a href="">
            <img class="img_footer" src="/img/youtube_footer.png" alt="">
          </a>
        </div>

      </div>
      <div class="terminos_condiciones d-flex flex-column">
        <a href="/condicionesYterminos">Condiciones y Términos</a>
        <a href="/politicasDEprivacidad">Políticas de Privacidad</a>
        <a href="/politicasDEcookies">Política de Cookies</a>
      </div>
    </div>
    <div class="copy_paises">
      <div class="paises">
        <img src="/img/icon_peru.png" alt="">
        <img src="/img/icon_argentina.png" alt="">
        <img src="/img/icon_colombia.png" alt="">
        <img src="/img/icon_brasil.png" alt="">
        <img src="/img/icon_chile.png" alt="">
      </div>
      <p>copyright @ subastasur.com 2020</p>
    </div>
  </div>

</footer>