@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Sedan:ital@0;1&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scope+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font--banner--semi: "Barlow";
  --font--banner--bool: "Roboto";
  --font--parrafo: "Space Mono";
  --font--header: "Sedan";
  --font--testimoni: "Modern Antiqua";
  --font--about: "BioRhyme";
  --font--cont: "Scope One";
  --font--sub--title: "Arsenal SC";
  --font--sub--title--2: "Roboto Condensed";
  --font--sub--title--3: "Kanit";
  --bg--botones: #d30000;
  --color--sub: #d30000;
}


.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  width: 370px;
  height: 600px;
  font-family: Arial, sans-serif;
}

.card-header {
  background-color: var(--color--sub);
  color: white;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header p {
  margin: 0;
  font-size: 1.2rem;
  font-family: var(--font--banner--semi);

}

.analisis {
  gap: 3rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.analisis p {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: .9rem;
  font-family: var(--font--sub--title--2);
}

.card-header .heart-icon {
  font-size: 1.5rem;
}

.card-body {
  padding: 1rem;
  text-align: center;
  display: block;
}

.card-body.active {
  display: none;
}

.card-body h2 {
  color: #BD0000;
  font-size: .9rem;
  font-family: var(--font--about);
  margin: 1rem 0;
}

.card-body button {
  width: 100%;
  height: 45px;
  background-color: var(--bg--botones);
  font-family: var(--font--sub--title--3);
  font-weight: 600;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.card-body button:hover {
  background-color: #ffa928;
}

.precio {
  gap: .5rem;
}

.precio i {
  font-size: 1.5rem;
  color: #00722a;
}

.precio .precio_base {
  color: #00722a !important;
  font-family: var(--font--sub--title--2) !important;
  font-weight: 300 !important;
  font-size: 1.2rem;
}

.price {
  color: #00521e;
  font-family: var(--font--sub--title--2);
  font-size: 1.1rem;
  font-weight: 600;
  margin: 1rem 0;
}

.incremento_precio {
  font-size: .8rem;
  font-family: var(--font--banner--bool);
  margin-bottom: 2rem;
}

.incremento_precio span {
  font-weight: 700;
  color: #00521e;
}

.chat {
  display: none;
  border: 1px solid #ccc;
  padding: 0px 10px 10px 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.chat.active {
  display: block;
}

.messages {
  height: calc(90% - 80px);
  /* Ajustar según la altura de .content_acciones y .progress */
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--font--banner--semi);
  margin-bottom: 1rem;
}

.messages li {
  list-style: none;
  width: 100%;
  height: 35px;
  background: var(--bg--botones);
  padding: 0px 1rem;
  display: flex;
  align-items: center;
  color: #ffff;
  font-family: var(--font--banner--semi);
  font-weight: 600;
  border-radius: .5rem;
  margin-top: .5rem;
}

.messages::-webkit-scrollbar{
  display: none;
}

.contenedor_subastas_input {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

/* .mensaje {
  position: relative;
  width: 70%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #BD0000;
  border-radius: 5rem;
} */

.input_mensaje {
  border: 1px solid #BD0000;
  background: none;
  width: 95%;
  height: 40px;
  padding: 0 2em;
  text-align: center;
  margin-right: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
}

.input_mensaje:focus {
  outline: none;
}

.mensaje button {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #990000;
}

.mensaje button:hover {
  color: #BD0000;
}

.mensaje .btn-minus {
  left: 0;
}

.mensaje .btn-plus {
  right: 0;
}

.btn_enviar {
  background-color: #BD0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  height: 40px;
  font-family: var(--font--banner--semi);
  font-size: .8rem;
}

.btn_enviar:hover {
  background-color: #990000;
}

.progress-bar {
  transition: width 0.1s linear;
}