@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Sedan:ital@0;1&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scope+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font--banner--semi: "Barlow";
    --font--banner--bool: "Roboto";
    --font--parrafo: "Space Mono";
    --font--header: "Sedan";
    --font--testimoni: "Modern Antiqua";
    --font--about: "BioRhyme";
    --font--cont: "Scope One";
    --font--header--v2: "Poppins";
    --bg--botones: #d30000;
    --color--sub: #d30000;
}

/* FOOTER */
footer {
    margin-top: 2rem;
    width: 100%;
    height: 20vh;
    position: relative;
    box-shadow: inset 0px .5px 5px #cccc;
}
 
.contenedor_superior {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.regresar_inicio {
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contet_footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    margin-top: 0rem;
}

.contet_footer p{
    margin-bottom: 0rem;
}

.img_logo {
    width: 20%;
}

.subastar {
    color: #ebebeb;
    font-family: var(--font--about);
    font-size: 0.9rem;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.subastar span {
    text-decoration: underline;
    color: var(--color--sub);
    transition: ease-in-out 0.3s;
}

.subastar:hover {
    color: var(--color--sub);
}

.subastar:hover span {
    color: #ebebeb;
}

.redes_footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.redes_footer a {
    transition: ease-in .2s;
}

.redes_footer a:hover {
    transform: scale(1.2);
}



.contet_footer p {
    font-size: 1.1rem;
    color: #444444;
    font-weight: 400;
}

.copy_paises{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: center;
}

.paises img{
    width: 30px;
}

.terminos_condiciones a{
    font-family: var(--font--header--v2);
    font-weight: 500;
    font-size: .9rem;
    color: #d30000;
    text-decoration: none;
    transition: ease-in .2s;
}

.terminos_condiciones a:hover{
    transform: scale(1.1);
    text-decoration: underline;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* FOOTER */
    footer {
        height: 60vh;
    }

    .contet_footer {
        flex-direction: column;
        margin-top: 0;
        gap: 1rem;
    }

    .contenedor_superior{
        justify-content: space-around;
    }

    .img_logo {
        width: 60%;
    }

    .terminos_condiciones a{
        font-size: .9rem;
    }

    .copy_paises{
        flex-direction: column;
    }

    .paises img{
        width: 26px;
    }

    .copy_paises p{
        margin: 0;
        font-size: .9rem;
    }

    .redes_footer {
        gap: 0;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    .redes_footer div{
        display: flex;
    }

    .redes_footer a img {
        width: 65%;
    }

    .contet_footer p{
        font-size: .9rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {

    /* FOOTER */
    footer {
        height: 50vh;
    }

    .contenedor_superior{
        justify-content: space-evenly;
    }

    .contet_footer {
        margin-top: 0rem;
        flex-direction: column;
    }

    .img_logo {
        width: 38%;
    }

    .redes_footer{
        margin: 0;
    }

    .copy_paises{
        align-items: center;
    }

    .copy_paises p{
        margin: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

    /* FOOTER */
    footer{
        height: 30vh;
    }

    .contenedor_superior {
        justify-content: space-around;
    }

    .img_logo {
        width: 20%;
    }

    .contet_footer {
        gap: 1rem;
        margin-top: 0rem;
    }

    .contet_footer p{
        width: 30%;
        font-size: .8rem;
    }

    .redes_footer {
        gap: .5rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .redes_footer a img {
        width: 35%;
    }

    .terminos_condiciones a{
        font-size: .9rem;
    }

    .copy_paises{
        align-items: center;
    }

    .copy_paises p{
        margin: 0;
        font-size: .9rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1440px) {}