@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Sedan:ital@0;1&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scope+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --font--banner--semi: "Heebo", sans-serif;
    --font--banner--bool: "Kanit", sans-serif;
    --font--parrafo: "Space Mono", monospace;
    --font--header: "Sedan", serif;
    --font--testimoni: "Modern Antiqua", serif;
    --font--about: "BioRhyme", serif;
    --font--cont: "Scope One", serif;
    --color--label: #989898;
    --color--activo--nav: #c72c3b;
    --color--inactivo--nav: #b62a46;
}

body {
    background-color: #f5f9fc;
    font-family: var(--font--parrafo);
}

.form-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.sidebar {
    background-color: var(--color--inactivo--nav);
    padding: 20px;
    border-radius: 8px;
    margin-right: 20px;
    color: white;
}

.form-title {
    font-weight: bold;
    margin-bottom: 20px;
    font-family: var(--font--header);
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #c72c3b;
    border-color: #b62a46;
    color: white;
}

.btn-primary:hover {
    background-color: #b62a46;
}

.requirements {
    font-size: 0.9rem;
    color: #67727e;
}

.requirements ul {
    padding-left: 20px;
}

.requirements li {
    margin-bottom: 5px;
}

.active {
    background-color: var(--color--inactivo--nav);
    border: 1px solid #c72c3b;
}

.hidden {
    display: none;
}
/* UI VERSE*/ 
button {
    --bg: #d60d0d;
    --text-color: #fff;
    position: relative;
    width: 100px;
    height: 55px;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #c60909 0px 7px 2px, #000 0px 8px 5px;
  }
  
  button:hover {
    opacity: 1;
  }
  
  button:active {
    top: 4px;
    box-shadow: #a00505 0px 3px 2px,#000 0px 3px 5px;
  }