@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Sedan:ital@0;1&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scope+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font--banner--semi: "Barlow";
  --font--banner--bool: "Roboto";
  --font--parrafo: "Space Mono";
  --font--header: "Sedan";
  --font--testimoni: "Modern Antiqua";
  --font--about: "BioRhyme";
  --font--cont: "Scope One";
  --font--sub--title: "Arsenal SC";
  --font--sub--title--2: "Roboto Condensed";
  --font--sub--title--3: "Kanit";
  --bg--botones: #d30000;
  --color--sub: #d30000;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f9f9f9;
}

h2 {
    text-align: left;
    color: #333;
    margin-bottom: 10px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #dd2323;
    font-weight: bold;
}

td {
    background-color: #fff;
}

/* Titles and Summary Styles */
.header {
    background-color: #ddd;
    font-weight: bold;
}

.section-title {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: center;
}

.offer-summary {
    text-align: right;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    table {
        width: 100%;
        table-layout: fixed;
    }

    th, td {
        padding: 10px;
        font-size: 14px;
    }

    td {
        display: block;
        text-align: right;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    th {
        display: none;
    }

    h2 {
        font-size: 18px;
    }
}
